* {
    background-color: bisque;
}

a {
    display: block;
    font-size: .75rem;
    text-align: start;
}

a:hover {
    cursor: pointer;
}

button:hover {
    background-color: purple;
    color: white;
}

button {
    display: block;
    margin: .25rem;
    border-radius: 1rem;
    justify-content: center;
    border-width: .2rem;
}

.buttons {
    background-color: yellow;

}

#submit-button {
    margin-left: 9.5rem;
}

div {
    margin: 1.25rem;
    text-align: left;
    font-weight: bolder;

}

.numOne {
    text-align: center;
}

.score {
    display: inline;
    margin-top: 5rem;
    border: groove; 
}

body {
    text-align: center;
}

h1 {
    font-family: serif;
    text-align: left;
}

h2 {
    font-size: .8rem;
    text-align: left;
    margin-top: -1rem;
    margin-left: .4rem;
}

#bigbutton {
    margin: 2rem 3.75rem 3rem;
    font-weight: bolder;
}

#timerEl {
    font-size: 4rem;
    margin-bottom: -2rem;
    margin-left: 5rem;

}

#time-rem {
    font-style: italic;
    font-weight: 800;
    margin-left: 4.4rem;
}

textarea {
    border-color: black;
    border-width: .15rem;
    border-style: groove;
    display: block;
    justify-content: start;
    text-align: center;
    height: 1rem;
    margin-top: 3rem;
    margin-left: 1.5rem;
}

.numOne {
    display: auto;
}