* {
    background-color: bisque;
}

button:hover {
    background-color: purple;
    color: white;
}

button {
    display: block;
    margin: .25rem;
    border-radius: 1rem;
    justify-content: center;
    border-width: .2rem;
}

.buttons {
    background-color: yellow;

}

#submit-button {
    margin-left: 1.5rem;
}

div {
    margin: 1.25rem;
    text-align: left;
    font-weight: bolder;

}

.numOne {
    text-align: center;
}

.score {
    display: inline;
    margin-top: 5rem;
    border: groove; 
}

body {
    text-align: center;
}

h1 {
    font-family: "Zapfino", "Cracked", serif;
}

#bigbutton {
    margin: 3rem;
    font-weight: bolder;
}

#timerEl {
    font-size: 4rem;
    margin-bottom: -1rem;
}

#time-rem {
    font-style: italic;
    font-weight: 800;
}

textarea {
    justify-content: start;
    text-align: center;
    height: 1rem;
    margin-top: 3rem;
}

.numOne {
    display: auto;
}